body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
    background-attachment: fixed;
}

h1 {
    position: absolute;
    left: 110px;
    top: 23px;
}

header a.imagelink, .maincompanybtn {
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
}

header a.imagelink:focus, .maincompanybtn:focus {
    outline: none;
}

header a.wordlink {
    text-decoration: none;
    color: black;
}

.nav {
    overflow: hidden;
    background-color: #333;
}
        
.nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
        
.dropdown {
    float: left;
    overflow: hidden;
}
        
.dropdown .dropdownbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
        
.nav a:hover, .dropdown:hover .dropdownbtn {
    background-color: #3c20e9;
}
        
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
        
.dropdown-content a:hover {
    background-color: #b3b3ff;
}
        
.dropdown:hover .dropdown-content {
    display: block;
}

.content-clearbox{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 550px;
}

.footer-imprint {
    text-decoration: none;
    color: #999999;
    font-size: 15px;
    text-align: left;
}

.footer-copyright {
    color: #999999;
    font-size: 15px;
    text-align: right;
}

.footer-clear {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.contentheader {
    font-size: 40px;
}

.content {
    font-size: 25px;
    text-align: justify;
}