@media only screen and (min-width: 800px) {
    .grid-container-fs22-modpage {
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 0;
        grid-template-areas: 
        "fs22-modpage-content-header-position fs22-modpage-content-header-position fs22-modpage-content-header-position"
        "fs22-modpage-moddescribtion-position fs22-modpage-datatable-position fs22-modpage-downloadbtn-position"
        "fs22-modpage-slideable-gallery-position fs22-modpage-slideable-gallery-position fs22-modpage-slideable-gallery-position"
        "fs22-modpage-changelog-position fs22-modpage-changelog-position fs22-modpage-changelog-position"
        "fs22-modpage-knownissues-position fs22-modpage-knownissues-position fs22-modpage-knownissues-position";
    }

    .fs22-modpage-content-header-grid-position {
        grid-area: fs22-modpage-content-header-position;
    }

    .fs22-modpage-moddescribtion-grid-position {
        grid-area: fs22-modpage-moddescribtion-position;
    }

    .fs22-modpage-datatable-grid-position {
        grid-area: fs22-modpage-datatable-position;
        margin: auto;
    }

    .fs22-modpage-downloadbtn-grid-position {
        grid-area: fs22-modpage-downloadbtn-position;
        max-width: 400px;
    }

    .fs22-modpage-slideable-gallery-grid-position {
        grid-area: fs22-modpage-slideable-gallery-position;
    }

    .fs22-modpage-changelog-grid-position {
        grid-area: fs22-modpage-changelog-position;
    }

    .fs22-modpage-knownissues-grid-position {
        grid-area: fs22-modpage-knownissues-position;
    }

    header {
        width: 357.36px;
        margin: auto;
    }

    header img {
        width: 200px;
    }

    header h1 {
        font-size: 3rem;
        position: absolute;
        left: 205px;
        top: 10px;
    }

    section h2 {
        font-size: 3rem;
    }

    .nav-start {
        margin-left: 6%;
    }

    .index-margin {
        margin-bottom: 300PX;
    }

    .assets-wrapper {
        margin-left: 9%;
        margin-right: 9%;
    }
}

@media only screen and (min-width: 900px) {
    .grid-container-fs22 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        grid-template-areas: 
        "fs22-content-header-position fs22-content-header-position";
    }

    .fs22-content-header-grid-position {
        grid-area: fs22-content-header-position;
    }
}

@media only screen and (min-width: 1350px) {
    .grid-container-fs22 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        grid-template-areas: 
        "fs22-content-header-position fs22-content-header-position fs22-content-header-position";
    }

    .fs22-content-header-grid-position {
        grid-area: fs22-content-header-position;
    }
}

/*Einstellungen/Personalisierung/Designs(Wahl zwischen hell und dunkel)*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #262626;
    }

    h1, h2, h3, h4, h5, h6, p, div, button, .downloadbtn p, .moditembtn p, .prev, .next {
        color: #d9d9d9;
    }

    nav, .dropdown-content, .downloadbtn, .moditembtn {
        background-color: #333;
    }

    nav a:hover, .nav-dropdown:hover .dropdownbtn {
        background-color: #3c20e9;
    }

    .dropdown-content a:hover {
        background-color: #0066ff;
    }

    footer {
        background-color: #151515;
    }

    footer a:hover {
        color: #3c20e9;
    }

    .downloadbtn:hover, .moditembtn:hover {
        background-color: #3c20e9;
    }

    .table-border-bottom {
        border-bottom-color: #d9d9d9;
    }

    .prev:hover, .next:hover {
        background-color: #000
    }

    #assets-menu {
        background-color: #222;
    }

    .assets-menu-tab:hover {
        text-decoration: underline #3c20e9 solid 2px;
    }

    .assets-wrapper {
        background-color: #222;
    }

    .date {
        color: #3c20e9;
    }

    .imprint-image-mail {
        content: url(../images/company/mail/black.png);
    }
}