#assets-margin-down {
    margin-bottom: 10px;
}

#assets {
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 4%;
    margin-bottom: 0;
}

#start-assets {
    background-color: #ccc;
}

#download-btn {
    position: absolute;
    right: 0;
    min-width: 320px;
    width: auto;
    background-color: red;
    margin-top: 45px;
    margin-right: 5%;
    border: transparent;
}

#download-btn-image {
    width: 9%;
    margin-right: 15px;
}

#download-btn-text {
    font-size: 2rem;
}

#download-assets img {
    margin-right: 11px;
    margin-bottom: 3px;
}

#download-assets:hover {
    cursor: pointer;
}

#assets-menu {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.assets-menu-tab {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    padding: 14px 16px;
}

.assets-menu-tab:hover {
    text-decoration: underline #3385ff solid 2px;
}

.assets-wrapper {
    padding: 25px;
    background-color: #ddd;
    border-bottom: 1px solid #aaa;
}

.assets-header {
    padding-bottom: 15px;
}

.assets-header-tab {
    font-size: 1rem;
    background-color: transparent;
    border-color: transparent;
}

.assets-header-tab:hover {
    cursor: pointer;
}

.assets-header-tab:hover .assets-header-desc {
    opacity: 0.7;
}

.assets-header-desc {
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    display: inline-flex;
    color: #3385ff;
}

.rotate-hight {
    font-size: 13px;
}

.rotate {
    rotate: 90deg;
}

.multidownload-btn {
    float: right;
    min-width: 130px;
    width: auto;
    min-height: 30px;
    height: auto;
    border: 1px solid #262626;
    display: block;
}

.multidownload-btn:hover {
    cursor: pointer;
}

.assets-container {
    display: grid;
    justify-content: space-around;
    max-width: 1600px;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 10px;
}

.assets-item {
    border: 1px solid transparent;
}

.assets-image-width {
    max-width: 100%;
}

.assets-image {
    user-select: none;
}

.assets-image-overlay {
    opacity: 0;
}

.assets-image:hover {
    background-color: #262626;
    opacity: 0.2;
}

.assets-image:hover + .assets-image-overlay {
    opacity: 1;
}

.assets-desc-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.download-checkbox {
    float: right;
    display: inline;
    margin-right: 5px;
    margin-bottom: 2px;
    height: 27px;
    width: 27px;
    border: 1px solid transparent;
}

.download-checkbox:hover {
    cursor: pointer;
}

.checked::after {
    font-size: 1.1rem;
    content: "\2713";
}

.download-border {
    border: 1px solid #262626;
}