.fs22-title-page {
    margin-bottom: 10px;
}

.search-label {
    font-size: 1.4rem;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    font-size: 1rem;
    color: #262626;
    background-color: #ccc;
}

.moditem-max-width {
    max-width: 400px;
    width: 100%;
}

.moditem-header {
    background-color: #151515;
    color: #d9d9d9;
    text-align: center;
    padding: 15px;
    margin: 0;
    margin-top: 15px;
}

.moditem-image {
    width: 100%;
}

.moditembtn {
    width: 100%;
    display: inline-block;
    background-color: #ccc;
}

.moditembtn a {
    line-height: 40px;
    text-decoration: none;
}

.moditembtn:hover {
    background-color: #3385ff;
}

.moditembtn p {
    color: #262626;
    text-align: center;
    margin: 0;
}

/*Start der einzelnen Modseiten*/

.modpage-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    margin: auto;
    padding: 10px;
    color: #262626;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999;
    border-radius: 50%;
    border-style: none;
    display: inline-block;
    transition: backgrond-color 0.4s ease;
}

.active, .dot:hover {
    background-color: #111;
}

.modpage-image {
    max-width: 1200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.issuelist-style {
    list-style-type: "#  ";
}